/* 
#### TO DO"S

* dark mode
* update project and contacts page

*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Roboto&family=Source+Sans+Pro:ital@1&display=swap');

/*
===============
Variables
===============
*/
.dark {
  /* bcg */
  --toggle-color: rgb(61, 124, 182);
  --nav-bcg: linear-gradient(rgba(75, 75, 75, 0.1), rgba(75, 75, 75, 0.1)),
    url(./images/hero/hero-bcg-dark.png) center repeat fixed;
  --hero-bcg: linear-gradient(
      rgba(100, 100, 100, 0.1),
      rgba(5, 5, 5, 0.7),
      rgba(5, 5, 5, 0.1)
    ),
    url(./images/hero/hero-bcg-dark.png) center repeat fixed;
  --contact-bcg: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/contact/contact-bcg.png) center repeat;

  /* black colors */
  --clr-body-bcg: #101114;
  --clr-body-bcg-2: #191a1d;
  --clr-body-bcg-3: #252525;
  /* white colors  */
  --clr-font: #fff;
  --clr-font-2: #f5f6f7;
  --clr-font-3: #f2f2f2;
  /* primary colors */
  --clr-primary: #1b9ce5;
  --clr-secondary: #0074e1;
  --clr-tertiary: #e3f0f8;
  /* shadows */
  --light-shadow: 0 5px 15px rgba(250, 250, 250, 0.2);
  --dark-shadow: 0 5px 15px rgba(250, 250, 250, 0.3);
}

.light {
  /* bcg */
  --toggle-color: #000;
  --nav-bcg: linear-gradient(rgba(180, 180, 180, 0.1), rgba(180, 180, 180, 0.1)),
    url(./images/hero/hero-bcg-light.png) center repeat fixed;
  --hero-bcg: linear-gradient(
      rgba(160, 160, 160, 0.1),
      rgba(250, 250, 250, 0.7),
      rgba(250, 250, 250, 0.1)
    ),
    url(./images/hero/hero-bcg-light.png) center repeat fixed;
  --contact-bcg: url(./images/contact/contact-bcg.png) center repeat;

  /* white colors */
  --clr-body-bcg: #fff;
  --clr-body-bcg-2: #f5f6f7;
  --clr-body-bcg-3: #f2f2f2;
  /* black colors  */
  --clr-font: #101114;
  --clr-font-2: #191a1d;
  --clr-font-3: #252525;
  /* primary colors */
  --clr-primary: #29648a;
  --clr-secondary: #2e9cca;
  --clr-tertiary: #e3f0f8;
  /* shadows */
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

:root {
  /* other colors */
  --clr-white: #fff;
  --clr-black: #222;
  --clr-primary-gradient: linear-gradient(
    to bottom right,
    var(--clr-secondary),
    var(--clr-primary)
  );
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: #eef3f7;
  /* font families */
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Source Sans Pro', sans-serif;
  /* transitions */
  --transition: all 0.3s linear;
  --long-transition: all 1s ease;
  /* spacing */
  --spacing: 0.2rem;
  /* radius */
  --radius: 0.75rem;
  /* width */
  --max-width: 1280px;
  --fixed-width: 560px;
}

/*
===============
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-body-bcg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.9rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img:not(.nav-logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-font);
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  body {
    font-size: 1.1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/* global classes */

.btn {
  text-transform: uppercase;
  background: var(--clr-primary-gradient);
  color: var(--clr-white);
  padding: 0.5rem 1rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}
.btn:hover {
  opacity: 0.9;
}

/* section */

.section {
  padding: 5rem 0;
}

.section-center {
  padding: 1rem 0;
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}
@media screen and (min-width: 992px) {
  .section-center,
  .contact-center {
    width: 95vw;
  }
}

.underline {
  width: 7rem;
  height: 0.25rem;
  margin-top: 0.4rem;
  background: var(--clr-primary);
  margin-left: auto;
  margin-right: auto;
  transition: var(--long-transition);
}
.section-title:hover .underline {
  background: var(--clr-primary-gradient);
  width: 13rem;
}

.section-title {
  font-family: var(--ff-secondary);
  margin-bottom: 4rem;
  text-align: center;
  text-transform: capitalize;
  padding: 0 1rem;
}
.section-title span {
  font-weight: bolder;
  text-shadow: 1px 1px 1px var(--clr-grey-5);
}

/* 
======================
NAVBAR
======================
*/
.toggle-theme {
  display: none;
  align-self: center;
  line-height: 0;
  cursor: pointer;
}
.toggle-theme .fa {
  font-size: 2.5rem;
  color: var(--toggle-color);
  background: transparent;
}

nav {
  background: var(--clr-body-bcg);
  padding: 1rem;
  z-index: 100;
}
.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-body-bcg);
  box-shadow: var(--light-shadow);
}
.nav-center {
  margin: 0 auto;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-btn {
  align-self: center;
  font-size: 2rem;
  color: var(--clr-primary);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
  transform: rotate(90deg);
  animation: bounce 2s linear infinite;
  line-height: 0;
}
.nav-btn:hover {
  color: var(--clr-secondary);
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.logo {
  color: var(--clr-primary);
  font-size: 1.75rem;
  letter-spacing: 2px;
  text-shadow: var(--light-shadow);
  font-family: 'Acme', sans-serif;
  justify-self: center;
  transition: var(--transition);
}
.logo:hover {
  color: var(--clr-secondary);
}
.nav-links {
  display: none;
  width: 100%;
  max-width: 480px;
  padding: 0 1rem;
}
.nav-links .link {
  text-transform: uppercase;
  color: var(--clr-primary);
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--clr-body-bcg);
  transition: var(--transition);
  letter-spacing: 2px;
  padding: 0.1rem 0;
  border-bottom: 2px solid transparent;
}
.nav-links .link:hover {
  color: var(--clr-secondary);
  border-color: var(--clr-secondary);
}

@media screen and (min-width: 792px) {
  nav {
    background: var(--nav-bcg);
  }
  .nav-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .nav-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle-theme {
    display: block;
  }
}

/* 
======================
SIDEBAR
======================
*/

.sidebar .toggle-theme {
  display: block;
  margin-left: 1rem;
}
.sidebar-header-col {
  display: flex;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-body-bcg-3);
  transition: var(--transition);
  transform: translate(-100%);
  z-index: -1;
}
.show-sidebar {
  transform: translate(0);
  z-index: 999;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.close-btn {
  font-size: 2rem;
  color: rgb(226, 39, 39);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
}
.close-btn:hover {
  color: rgb(194, 14, 14);
}

.sidebar-links {
  margin: 1rem 0;
}
.sidebar-links .link {
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  letter-spacing: 3px;
  display: block;
  color: var(--clr-secondary);
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--clr-body-bcg);
  transition: var(--transition);
}
.sidebar-links .link:hover {
  color: var(--clr-primary);
  background: var(--clr-body-bcg-2);
  padding-left: 1.5rem;
  border-left: 4px solid var(--clr-primary);
}
.sidebar-icons {
  margin: 2.5rem auto;
  text-align: center;
  padding: 0 2rem;
}
.icons-container {
  padding: 2rem;
  border: 4px solid var(--clr-primary);
  display: grid;
  place-items: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  background: var(--clr-body-bcg-2);
}
.sidebar-icons .social-icon {
  text-shadow: 1px 1px 1px var(--clr-body-bcg);
  transition: var(--transition);
  text-transform: capitalize;
  display: block;
  color: var(--clr-secondary);
  font-size: 1.5rem;
  margin: 0.4rem 0;
  letter-spacing: 2px;
}
.sidebar-icons .social-icon:hover {
  color: var(--clr-primary);
}
.sidebar-icons .social-icon:hover .fa {
  color: var(--clr-primary);
  background: transparent;
}

@media screen and (min-width: 792px) {
  .sidebar {
    display: none;
  }
}

/* 
======================
HERO
======================
*/
header {
  background: var(--hero-bcg);
}
.banner {
  min-height: calc(100vh - 75px);
  display: grid;
  place-items: center;
  padding-bottom: 4rem;
}
.banner-container {
  display: grid;
}
.hero-img {
  display: none;
  width: 22rem;
}
.hero-info {
  text-align: center;
}
.hero-info h1 {
  text-shadow: 1px 1px 1px var(--clr-primary);
  font-family: var(--ff-secondary);
}
#my-name span {
  color: var(--clr-primary);
  text-shadow: 1px 1px 1px var(--clr-font);
}
.hero-info p {
  margin: 1.5rem 0;
  margin-top: 0.5rem;
}
.hero-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
}
.hero-btn {
  align-self: center;
  border: 2px solid transparent;
  transition: all 0.5s ease-out;
}
.hero-btn:last-child {
  background: var(--clr-white);
  color: var(--clr-primary);
  border-color: var(--clr-primary);
}
.hero-btn:hover {
  background: var(--clr-white);
  color: var(--clr-primary);
  border-color: var(--clr-primary);
}
.hero-btn:last-child:hover {
  background: var(--clr-primary-gradient);
  color: var(--clr-white);
  border-color: transparent;
}

#my-name {
  margin: 0 auto;
  width: 380px;
  white-space: nowrap;
  opacity: 0;
  line-height: 1.5;
  animation: type 4s steps(20, end) infinite alternate,
    blink 0.5s step-end infinite alternate;
  animation-fill-mode: forwards;
  border-right: 3px solid var(--clr-font);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #my-name {
    width: 500px;
  }
}
@media screen and (max-width: 395px) {
  #my-name {
    font-size: 2.1rem;
    width: 300px;
  }
}
/* text animation */
@keyframes type {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99% {
    /* border-right: 3px solid var(--clr-dark); */
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media screen and (min-width: 992px) {
  .banner-container {
    grid-template-columns: 1fr auto;
    gap: 5rem;
    align-items: center;
  }
  .hero-img {
    display: block;
  }
  .hero-info {
    text-align: left;
  }
  .hero-btn-container,
  #my-name {
    margin: 0;
  }
}
@media screen and (max-width: 495px) {
  .hero-btn-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1rem;
  }
}

/* 
======================
ABOUT
======================
*/

.about-center {
  display: grid;
  row-gap: 2rem;
}
.about-img-small {
  margin: 0 auto;
  max-width: 300px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.1rem;
  border: 3px solid var(--clr-primary);
}
.about-image-small {
  border-radius: 50%;
  width: 100%;
}
.about-img-big {
  display: none;
}
.title-big {
  display: none;
}
.about-info h4 {
  text-align: center;
  background: var(--clr-font);
  color: var(--clr-body-bcg);
  margin-bottom: 0 auto 1.5rem;
  padding: 0.3rem 1.25rem;
  border-radius: 2px;
  display: block;
}
#toggle-text {
  background: transparent;
  outline: none;
  text-transform: capitalize;
  color: rgb(121, 187, 241);
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #toggle-text {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  .about-center {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5rem;
    column-gap: 3rem;
  }
  .about-info {
    padding: 1.5rem;
    padding-left: 3rem;
    border-left: 3px solid var(--clr-font);
  }
  .about-img-small {
    display: none;
  }
  .title-small {
    display: none;
  }
  .title-big {
    display: block;
    text-align: left;
    margin-bottom: 2rem;
  }
  .title-big .underline {
    margin-left: 0;
    margin-right: 0;
  }

  .about-img-big {
    display: block;
    max-width: 25rem;
    max-height: 32rem;
    margin: 0 auto;
    position: relative;
  }
  .about-image-big {
    max-width: 24rem;
    max-height: 32rem;
    object-fit: cover;
    position: relative;
    box-shadow: var(--light-shadow);
    border-radius: 0.25rem;
  }
  .about-img-big::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -7%;
    width: 110%;
    height: 100%;
    border-radius: 0.25rem;
    background: var(--clr-tertiary);
  }
  .about-info h4 {
    display: inline-block;
  }
  .about-info p {
    max-width: 45rem;
  }
}

/* 
======================
PROJECTS
======================
*/

.projects {
  background: var(--clr-body-bcg-2);
}
.project:first-child {
  margin-top: 0;
}
.project:last-child {
  margin-bottom: 0;
}
.project {
  background: var(--clr-body-bcg-2);
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  margin: 4rem auto;
  max-width: var(--fixed-width);
}
.project:hover {
  box-shadow: var(--dark-shadow);
}
.project-image {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  height: 15rem;
  object-fit: cover;
}
.project-info {
  padding: 0 1.2rem;
  text-align: center;
}
.project-title {
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.project-text {
  margin: 0 auto;
  display: none;
}
.project-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0.75rem auto;
  text-transform: capitalize;
  max-width: 20rem;
}
.project-tools span {
  background: var(--clr-body-bcg-3);
  color: var(--clr-grey-5);
  padding: 0.2rem 0.35rem;
  border-radius: 4px;
  margin-top: 0.75rem;
}
.project-footer {
  margin-top: 1.25rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.2rem;
  background: var(--clr-font-2);
  width: 100%;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.project-footer a:first-child {
  order: 2;
  text-decoration: underline;
}
.project-footer a:last-child {
  order: 1;
}
.project-footer a {
  color: var(--clr-body-bcg);
  transition: var(--transition);
  align-items: center;
}
.project-footer .fa {
  font-size: 1.25rem;
  margin-right: 0.25rem;
  vertical-align: text-top;
}
.project-footer a:hover {
  color: var(--clr-primary);
}

@media screen and (min-width: 768px) {
  .projects-center {
    padding: 2rem;
  }
  .project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    align-items: center;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    margin: 8rem auto;
    max-width: var(--max-width);
  }
  .project:hover {
    box-shadow: none;
  }
  .project:nth-child(even) .project-img {
    order: 2;
  }
  .project:nth-child(even) .project-img::before {
    left: 5%;
  }
  .project-img {
    margin: 0 auto;
    position: relative;
  }
  .project-image {
    height: 18rem;
    border-radius: var(--radius);
    position: relative;
    box-shadow: var(--light-shadow);
  }
  .project-img::before {
    content: '';
    position: absolute;
    top: -10%;
    left: -5%;
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background: var(--clr-tertiary);
    box-shadow: var(--light-shadow);
  }
  .project-title {
    text-align: left;
  }
  .project-info {
    text-align: left;
  }
  .project-text {
    display: block;
  }
  .project-tools {
    margin: 0;
    justify-content: left;
  }
  .project-tools span {
    margin-right: 0.5rem;
  }
  .project-footer {
    border-radius: 0;
    background: transparent;
    display: block;
    margin-top: 0.5rem;
  }
  .project-footer:first-child {
    order: 1;
  }
  .project-footer:last-child {
    order: 2;
  }
  .project-footer a {
    color: var(--clr-font-2);
    margin-right: 1.5rem;
  }
}

.btn-container {
  margin: 3rem auto 0;
  max-width: var(--max-width);
  text-align: center;
  padding: 0 1rem;
}

/* 
======================
SKILLS
======================
*/

.skills-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 2rem;
}
.skill {
  position: relative;
}
.skill-image {
  object-fit: contain;
  width: 180px;
  height: 180px;
  transition: var(--long-transition);
}
.skill-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-body-bcg);
  background: var(--clr-font);
  padding: 0.5rem;
  text-align: center;
  transition: var(--long-transition);
  opacity: 0.01;
}
.skill:hover .skill-image {
  opacity: 0.7;
}
.skill:hover .skill-title {
  opacity: 1;
}

@media screen and (min-width: 756px) {
  .skills-center {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
}
@media screen and (min-width: 1170px) {
  .skills-center {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3rem;
  }
}

/* 
======================
CONTACT
======================
*/

.contact {
  text-align: center;
  background: var(--contact-bcg);
}
.contact-info {
  padding: 4rem 2rem;
}
.contact-info h2 {
  text-shadow: 2px 2px 2px var(--clr-body-bcg);
}

.social-icons {
  background: var(--clr-font-2);
}
.social-icons h4 {
  display: none;
}
.social-icons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: var(--fixed-width);
  padding: 0.8rem 0;
  margin: 0 auto;
}
.social-icon {
  font-size: 2rem;
  transition: var(--transition);
}
.social-icon .fa {
  transition: var(--transition);
}
.twitter {
  color: #00a7e7;
}
.instagram {
  color: #ea6960;
}
.linkedin {
  color: #0073b1;
}
.github {
  color: #333;
  background: var(--clr-white);
  border-radius: 50%;
}

.social-icons-container span {
  display: none;
}
.social-icon:hover .fa {
  color: var(--clr-body-bcg);
}

@media screen and (min-width: 792px) {
  .contact-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 4rem 2rem;
    margin: 0 auto;
    max-width: var(--max-width);
    text-align: left;
  }
  .social-icons {
    background: transparent;
    padding: 0 5rem;
  }
  .social-icons h4 {
    display: block;
    text-transform: none;
  }
  .social-icons-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
  }
  .social-icon {
    font-size: 1.75rem;
  }
  .social-icon:hover .fa {
    color: var(--clr-font);
  }
  .social-icons-container span {
    display: inline;
    color: var(--clr-font);
    font-size: 1.5rem;
    margin-left: 1rem;
    text-transform: capitalize;
    transition: var(--transition);
  }
  .social-icon:hover {
    transform: scale(1.01);
  }
  .footer-text {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
}

/* 
======================
FOOTER
======================
*/

.footer {
  background: var(--clr-black);
  text-align: center;
  padding: 0 1rem;
}
.footer-text {
  color: var(--clr-grey-10);
  text-transform: capitalize;
  line-height: 1;
  margin-bottom: 0;
}

/* 
#####################
PAGES
#####################
*/
main {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}
.projects-page-center,
.contact-page-center {
  text-align: center;
  margin: 0 auto;
}
